{% extends 'base.html.twig' %}

{% block title %}Accueil Vendeur
{% endblock %}

{% block body %}
	<h1>Bienvenue,
		{{ seller.firstname }}
		{{ seller.lastname }}!</h1>
	<form action="{{ path('app_logout') }}" method="post">
		<button type="submit">Se déconnecter</button>
	</form>

	<a href="{{ path('newSale') }}" class="btn btn-primary">Nouvelle Vente</a>
	<a href="{{ path('invoice') }}" class="btn btn-primary">Facture</a>
	<a href="{{ path('sales_archive') }}" class="btn btn-primary">Archives Ventes</a>
{% endblock %}
